<div class="for-couples-section">
  <h2>Podróże we dwoje</h2>

  <div class="tour-card">
    <div class="tour-card__img">
      <img src="/assets/buenosaires.jpg" alt="Opis obrazka">
    </div>
    <div class="tour-card__content">
      <h3>Buenos Aires, Argentyna</h3>
      <h4>W skrócie: </h4>
      <p>Romantyczna podróż po "Paryżu Ameryki Południowej"</p>
      <p>Cena dla pary już od 15 000 zł</p>
      <p>Gwiazdki: 4.5</p>
      <p>Restauracje:
        <span class="restaurant-name">Don Julio</span>,
        <span class="restaurant-name">La Cabrera</span>,
      </p>
      <p>Kuchnie: lokalna, argentyńska</p>
      <p>Udogodnienia:
        <span class="amenity">Tango Show w Sali Tango Madero</span>,
        <span class="amenity">Wycieczki po historycznych dzielnicach: San Telmo, La Boca, Recoleta</span>,
        <span class="amenity">Degustacja argentyńskiego wina Malbec w El Ateneo Grand Splendid</span>
      </p>
      <h5>Zobacz ofertę</h5>
    </div>
  </div>

  <!-- Reszta kodu... -->
</div>




  <div class="tour-card">
    <div class="tour-card__img">
      <img src="/assets/placeholder.jpg" alt="Opis obrazka">
    </div>

    <div class="tour-card__content">
      <h3>Afryka: Rezydencja Baines, Botswana</h3>
      <p>Safari pełne przygód i romantyzmu w sercu dzikiej przyrody</p>
      <p>Cena dla pary już od 14 500 zł</p>
      <p>Gwiazdki: 5</p>
      <p>Restauracje:
        <span class="restaurant-name">Savannah Breeze</span>,
        <span class="restaurant-name">Jungle Delight</span>
      </p>
      <p>Kuchnie: lokalna, międzynarodowa</p>
      <p>Udogodnienia:
        <span class="amenity">Obserwacja dzikich zwierząt w ich naturalnym środowisku</span>,
        <span class="amenity">Luksusowe namioty i prywatne baseny</span>,
        <span class="amenity">Wieczorne ogniska i romantyczne kolacje pod gwiazdami</span>
      </p>
    </div>
  </div>


  <div class="tour-card">
    <h3>Azja: The Ritz-Carlton, Kyoto, Japonia</h3>
    <p>Urok i spokój w tradycyjnej japońskiej stolicy</p>
    <p>Cena dla pary już od 12 900 zł</p>
    <p>Gwiazdki: 5</p>
    <p>Restauracje:
      <span class="restaurant-name">Sakura Garden</span>,
      <span class="restaurant-name">Kaiseki Bliss</span>,
      <span class="restaurant-name">Teppanyaki Master</span>,
      <span class="restaurant-name">Mizu Sushi Bar</span>
    </p>
    <p>Kuchnie: japońska, międzynarodowa</p>
    <p>Udogodnienia:
      <span class="amenity">
