body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background: #f5f5f5;
}

.app-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.sidebar-container {
  width: 100%;
}

.sidebar {
  width: 100%;
}

.menu-flex {
  display: flex;
  justify-content: space-between;
}

.menu-button {
  flex: 1;
  margin: 0 5px;
  background-color: goldenrod;
  color: white;
  padding: 12px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: all 0.5s;
}

.menu-button a {
  color: white;
  text-decoration: none;
}

.show-more {
  flex: 1;
  margin: 0 5px;
  background-color: goldenrod;
  color: white;
  padding: 12px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: all 0.5s;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  width: 100%;
  white-space: nowrap;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .show-more {
  background-color: black;
}
