body {
  font-family: Baskerville, serif;
  margin: 0;
  padding: 0;
  background: url("/assets/newz.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  backdrop-filter: blur(10px);
}

.app-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.sidebar-container {
  width: 100%;
}

.sidebar {
  width: 100%;
}

.menu-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
  padding: 10px;
}

.menu-button {
  background-color: goldenrod;
  color: rgb(255, 255, 255);
  padding: 12px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: all 0.5s;
  font-family: Baskerville, serif;
  font-size: 17px;
}

.menu-button a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-family: Baskerville, serif;
}

.dropdown {
  position: relative;
  display: inline-block;
  width: 100%;
}

.dropdown button {
  width: 100%;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  width: 100%;
  white-space: nowrap;
  font-family: Baskerville, serif;
  font-size: 16px;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .menu-button {
  background-color: black;
}

.main-container {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
