<div class="app-container">
  <div class="sidebar-container">
    <div class="sidebar">
      <div class="menu-grid">
        <button class="menu-button"><a routerLink="/search">Wyszukaj wycieczkę</a></button>
        <button class="menu-button"><a routerLink="/">Skorzystaj z gotowej propozycji</a></button>
        <div class="dropdown">
          <button class="menu-button show-more">Pokaż więcej</button>
          <ul class="menu-list dropdown-content">
            <li><a routerLink="/buy-now">Kup teraz</a></li>
            <li><a routerLink="/tours">Last minute!</a></li>
            <li><a routerLink="/recently-bought">Ostatnio zakupione wycieczki</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="main-container">
    <router-outlet></router-outlet>
  </div>
  <app-footer></app-footer>
</div>
