<div class="home">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-9">
        <div class="travel-info">
          <h2>Najpiękniejsze podróże poślubne</h2>
          <p>Bora Bora, Polinezja Francuska: Bora Bora to raj na ziemi z błękitnymi lagunami, piaszczystymi plażami i luksusowymi bungalowami na wodzie. To idealne miejsce na romantyczne wakacje poślubne, gdzie można cieszyć się spokojem i relaksem w otoczeniu przepięknej przyrody.</p>
          <p>Santorini, Grecja: Santorini to malownicza wyspa grecka, znana ze swoich białych domów przylegających do klifów i zapierających dech w piersiach widoków na Morze Egejskie. Wyspa oferuje romantyczne zachody słońca, urokliwe wąskie uliczki, pyszną kuchnię i luksusowe hotele.</p>
          <p>Bali, Indonezja: Bali to rajskie miejsce, które oferuje wspaniałe plaże, bujne zielone ryżowe tarasy, mistyczną kulturę i spokojne świątynie. Można zrelaksować się na plażach, wypróbować tradycyjne masaże, odkrywać egzotyczną kuchnię i podziwiać zachwycające krajobrazy.</p>
        </div>
      </div>
    </div>
  </div>
</div>
